@{
    var Name = "Parth";
    var id = "123456";
    var company = "KGS";
    
   
}
<h1>YOUR ID CARD</h1>
<table>
    <tr>
        <td><img src="~/images/shinchan.png" class="centre" /></td>
    </tr>
    <tr>
        <td>Name: </td>
        <td>@Name</td>
    </tr>
    <tr>
        <td>ID: </td>
        <td>@id</td>
    </tr>
    <tr>
        <td>Company: </td>
        <td>@company</td>
    </tr>
</table>